:root {
    // brand colors
    --c-brand: #018aff;
    --c-brand-light: #018aff;
}
.anchor-right .anchor-right-content{
    right: -65% !important;
}
.page, .theme-default-content h2::before {
    content: "";
    margin-right: 5px;
    border-left: 5px solid #018aff;
}

.text{
    margin-left: 5px;
    color:#7F7FA8;
    font-size: 15px;
    display: block !important;
}
#busuanzi_container_page_pv{
    display: block !important;
}
.images{
    margin-bottom: -3px;
    width: 18px !important;
}
.imagess{
    margin-left: 20px;
    margin-bottom: -3px;
    width: 18px !important;
}
.level,.level-2{
    color: #535353 !important;
    margin-bottom: 5px !important;
}
.sidebar-item.sidebar-heading{
    font-size: 1em !important;
    padding: 0.95rem 1.5rem 0.85rem 1.35rem;
}
.sidebar-item.active:not(p.sidebar-heading){
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background-color: #339DEC;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    line-height: 1.25;
}
h2{
    font-size: 1.4rem;
    border-bottom: 0px;
    margin-top: -2rem !important;
}
h3{
    font-size: 1.34rem;
    margin-bottom: 25px !important;
}
.page .theme-default-content{
    max-width:815px !important;
}
.anchor-right .anchor-right-content .active{
    color: var(--c-text-accent) !important;
}
.anchor-right .anchor-right-content .level-2 > div{
    font-weight: 500 !important;
    font-size: 14px !important;
}
.mars-img{
    width: 300px;
    margin-left: 31%;
}
.mapStyle{
    width: 815px;
    height: 450px;
}
.toSee{
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: rgba(30, 144, 255, 0.7);
    border-bottom-left-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s;
    font-size: 12px;
}
.sidebar-item:not(.sidebar-heading){
    font-size: 15px !important;
}
.suggestions{
    width: 500px;
    background-color: #ffffff !important;
}
.headStyle{
    display: flex;
}